In [2]:
import pandas as pd #Reading data
import math #Calculating entropy and information gain
from sklearn.tree import DecisionTreeClassifier #Decicision making(predictions)
from sklearn.preprocessing import OneHotEncoder #Encoding the categorical variables

In [10]:
 #Reading data
train_data=pd.read_csv('ML_DATA.csv')
test_data=pd.read_csv('ML_DATA2.csv')
train_data.head(7)

      Age  Has_Job  Own_House Credit_Rating Class
0   Young    False      False          fair    No
1   Young    False      False          Good    No
2   Young     True      False          Good   Yes
3   Young     True       True          fair   Yes
4   Young    False      False          fair    No
5  Middle    False      False          fair    No
6  Middle    False      False          Good    No

In [4]:
#combine training and testing data
combined_data=pd.concat([train_data,test_data],ignore_index=True)
combined_data.head(7)

      Age  Has_Job  Own_House Credit_Rating Class
0   Young    False      False          fair    No
1   Young    False      False          Good    No
2   Young     True      False          Good   Yes
3   Young     True       True          fair   Yes
4   Young    False      False          fair    No
5  Middle    False      False          fair    No
6  Middle    False      False          Good    No

In [8]:
#Encoding of categorical variables
categorical_features = ['Age', 'Has_Job', 'Own_House', 'Credit_Rating']
encoder = OneHotEncoder(handle_unknown="ignore")
encoded_data = encoder.fit_transform(combined_data[categorical_features])

In [14]:
#split data into test and training sets
train_encoded=encoded_data[:len(train_data)]#splits the data back to the original training data set
test_encoded_data=encoded_data[len(train_data):] #splits the data back to the original training data set

In [15]:
#splitting data to target variable and feature matrix
X_train=train_encoded
y_train=train_data['Class']      #y=mx+c
X_test=test_encoded_data

In [ ]:
#Calculating entropy
#E=p(y)*log(p(y))-p(n)*log(p(n))
class_counts=y_train.value_counts()
total_examples=len(y_train)
entropy_s=0